.view-wrapper {
  background: #ffffff;
  border-radius: 4px;
  padding: 12px 8px;

  > .demo {
    margin: 4px;
    padding: 12px 0;

  }
  
  > .demoShow {
    margin: 4px;
  }

  > .demoView {
    margin: 4px;
    > pre {
     border-radius: 4px;
    }
  }

  .false{
    display: none;

  }
}