.note-content {
  margin: 32px;
  background: hsla(0,0%,100%,1);
  backdrop-filter: blur(6px);
  border-radius: 8px;



  > .title {
    display: flex;
    justify-content: space-between;
    padding: 8px 6px 0 6px;
    font-weight: bolder;



    > .id {
      flex: 1;
    }
    > .date {
      flex: 1;
    }
    > .name {
      flex: 3;
    }
    > .action {
      flex: 1;
    }
  }

  > .table-content{

    > div > .item-content {
      display: flex;
      justify-content: space-between;
      padding: 0 6px;

      > .item-id {
        flex: 1;
      }
      > .item-context {
        flex: 3;
      }
      > .item-date{
        flex:1;
      }
      > .item-action{
        flex:1;
        display: flex;
      }
    }

  }

  > .footer{
    display: flex;
    justify-content: center;

  }
}