.navbar-wrapper {
  width: 100%;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bolder;
  background: #fcfbff; 
  height: 64px;
  > a > li {
    margin: 0 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  > .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 19px;
    margin: 0 50px;
    height:32px;
    width: 96px;
    background: rgba(164, 159, 159, 0.3);

   //div里面的内容水平垂直居中
    > div {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      line-height: 32px;
    }
    > .avatar{
      border-radius: 50%;
      width: 32px;
      background: gold;
    }

    > .username {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 4px;
      > span {
        margin: 0 4px;

      }
      > .icon-dowm {
        width: 10px;
        height: 10px;
        margin-right: 10px;
      }
    }
    .menu-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      transform-origin: center top;
      width: 96px;
      margin: 5px 0;
      padding: 6px 0;
      top: 50px;
      font-weight: initial;
      background-color: #fff;
      border: 1px solid #dee0e3;
      border-radius: 4px;
      z-index: 30001;

      > .items {
        display: flex;
        width: 100%;
        padding: 0 4px;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
       > .icon {
        height: 20px;
        width: 20px;
      }
      > span {
        margin-left: 6px;
      }
    }
    
    

    }
  }
}



}