.items-wrapper {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding-top: 8px;
    background: #fcfbff;


    > .item-groups {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;


      > .first-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;

        > .icon {
          margin: 0 8px;
          height: 16px;
          width: 16px;
        }
      }

      > .second-item {
        font-size: 12px;
        padding-left: 44px;
        width: 100%;



      }
      
    }

    
  }


